body {font-family: sans-serif}
h1 {font-family: American Typewriter, Trebuchet MS, sans-serif; color: black;}
h2 {font-family: American Typewriter, Trebuchet MS, sans-serif; color: black;}
h3 {font-family: American Typewriter, Trebuchet MS, sans-serif; color: black;}
table {background: rgb(204, 204, 204);}
th {background: rgb(255, 255, 255); text-align: left; color: rgb(100,100,100);}
td {background: rgb(255, 255, 255); vertical-align: top;}
a {color: rgb(51, 51, 153); text-decoration: none;}
a:hover {color:rgb(51, 51, 153); text-decoration: underline;}
a:visited {color:purple}
dt {font-weight: bold}
