<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Inbred Line Variant DataBase</title>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    <link href={{ url_for('static',filename='styles/bootstrap.min.css') }} rel="stylesheet" />
    <link href={{ url_for('static',filename='styles/jumbotron-narrow.css') }} rel="stylesheet" />
    <link href={{ url_for('static',filename='styles/select2.min.css') }} rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    
    <style>
        table { border-collapse: width=100%; }
        th, td { text-align: left; padding: 8px; }
        tr:nth-child(even){background-color: #f2f2f2}
        form {
            display: inline;
        }
    </style>
    
</head>

<body>

<div class="container myleft">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/query/">Query Input</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Inbred Line Variant DataBase</h3>
    </div>
    
    <div class="row marketing">
        <div class="col-lg-12">
            
            <form method='POST' id="QueryForm">
            <h4>{{form.variantinputtype.label}}
            {{form.variantinputtype(id="inputtype",onchange="conditional1()")}}</h4><p>
            <div id="input1" style='display:none'>
                {{form.variant_id_text.label}}{{form.variant_id_text(cols="50", rows="1")}}<p>
                {{form.variantfile.label}}{{form.variantfile}}<p>
            </div>
            <div id="input2" style='display:inline'>
                {{form.chr.label}}{{form.chr}} {{form.strnum.label}}{{form.strnum(style="width:100px")}} {{form.endnum.label}}{{form.endnum(style="width:100px")}}<p>
                {{form.bedfile.label}}{{form.bedfile}}<p>
            </div>
            <div id="input3" style='display:none'>
                {{form.genesearch.label}}  <a href="http://biodb.jp/index.cgi?lang=en&tax=mmu" target="_blank">Gene ID Converter</a>{{form.genesearch(cols="50", rows="1")}}<p>
                {{form.genefile.label}}{{form.genefile}}<p>
            </div>
            
            
            <h4>{{form.view.label}}{{form.view(id="inputview",onchange="conditional2()")}}</h4><p>
            <div id="view1" style='display:inline'>
                {{form.selectCollum1.label}}
                {{form.selectCollum1(class="select-multiple",style="width:510px")}}<p>
            </div>
            <div id="view2" style='display:none'>
                {{form.selectCollum2.label}}
                {{form.selectCollum2(class="select-multiple",style="width:510px")}}<p>
            </div>
            <div id="view3" style='display:none'>
                {{form.selectCollum3.label}}
                {{form.selectCollum3(class="select-multiple",style="width:500px")}}<p>
            </div>
            <div id="view4" style='display:none'>
                {{form.selectCollum4.label}}
                {{form.selectCollum4(class="select-multiple",style="width:540px")}}<p>
            </div>
            
            <div id="strain1" style='display:inline'>
                {{form.strainlistnew.label}}
                {{form.strainlistnew(class="select-multiple",style="width:400px")}}<p>
            </div>
            <div id="strain2" style='display:none'>
                {{form.strainp1new.label}}{{form.strainp1new}}
                {{form.strainp2new.label}}{{form.strainp2new}}<p>
            </div>
            
            {{form.prob_cutoff.label}}{{form.prob_cutoff(style="width:60px")}}
            {{form.homo.label}}{{form.homo}}
            
            <div id="ismax" style='display:inline'>
                {{form.ismax.label}}{{form.ismax}}
            </div>
            <div id="consequence" style='display:inline'>
                {{form.consequence.label}}
                {{form.consequence(class="select-multiple",style="width:680px")}}
            </div>
            
            <p>{{form.limnum.label}}{{form.limnum(style="width:80px")}}
            
            <p>
            <input type="submit" value="Submit"/>

            </form>
            
            <script type="text/javascript">
                $(".select-multiple").select2();
            </script>

            <script>
                function validateForm()
                {
                    return false;
                }
            </script>

            <script>
                function conditional1() {
                    var x = document.getElementById("inputtype").value;
                    if ( x == 1 ){
                        document.getElementById('input1').style.display = 'inline';
                        document.getElementById('input2').style.display = 'none'  ;
                        document.getElementById('input3').style.display = 'none'  ;
                    }else if ( x == 2 ){
                        document.getElementById('input1').style.display = 'none'  ;
                        document.getElementById('input2').style.display = 'inline';
                        document.getElementById('input3').style.display = 'none'  ;
                    }else{
                        document.getElementById('input1').style.display = 'none'  ;
                        document.getElementById('input2').style.display = 'none'  ;
                        document.getElementById('input3').style.display = 'inline';
                    }
                }
            
                function conditional2() {
                    var x = document.getElementById("inputview").value;
                    if ( x == 1 ){
                        document.getElementById('view1').style.display = 'inline';
                        document.getElementById('view2').style.display = 'none'  ;
                        document.getElementById('view3').style.display = 'none'  ;
                        document.getElementById('view4').style.display = 'none'  ;
                        
                        document.getElementById('strain1').style.display = 'inline';
                        document.getElementById('strain2').style.display = 'none';
                        
                        document.getElementById('ismax').style.display = 'inline';
                        document.getElementById('consequence').style.display = 'inline';
                    }else if ( x == 2 ){
                        document.getElementById('view1').style.display = 'none'  ;
                        document.getElementById('view2').style.display = 'inline';
                        document.getElementById('view3').style.display = 'none'  ;
                        document.getElementById('view4').style.display = 'none'  ;
                        
                        document.getElementById('strain1').style.display = 'inline';
                        document.getElementById('strain2').style.display = 'none';
                        
                        document.getElementById('ismax').style.display = 'inline';
                        document.getElementById('consequence').style.display = 'none';
                    }else if ( x ==3 ){
                        document.getElementById('view1').style.display = 'none'  ;
                        document.getElementById('view2').style.display = 'none'  ;
                        document.getElementById('view3').style.display = 'inline';
                        document.getElementById('view4').style.display = 'none'  ;
                        
                        document.getElementById('strain1').style.display = 'none';
                        document.getElementById('strain2').style.display = 'inline';
                        
                        document.getElementById('ismax').style.display = 'none';
                        document.getElementById('consequence').style.display = 'inline';
                    }else{
                        document.getElementById('view1').style.display = 'none';
                        document.getElementById('view2').style.display = 'none';
                        document.getElementById('view3').style.display = 'none';
                        document.getElementById('view4').style.display = 'inline';
                        
                        document.getElementById('strain1').style.display = 'none';
                        document.getElementById('strain2').style.display = 'inline';
                        
                        document.getElementById('ismax').style.display = 'none';
                        document.getElementById('consequence').style.display = 'none';
                    }
                }
                conditional1()
                conditional2()
            </script>
            
            
            <table id="outputtable" class="display">
                {% if result_header != None %}
                <thead>
                <tr>{% for t in result_header %}
                    <th>{{ t }}</th>
                    {% endfor %}</tr>
                </thead>
                <tfoot>
                <tr>{% for t in result_header %}
                    <th>{{ t }}</th>
                    {% endfor %}</tr>
                </tfoot>
                {% endif %}
                
                <tbody>
                {% if result_table != None %}
                    {% for t in result_table %}
                        <tr>
                            {% for i in t %}
                            <td>{{ i }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

            <script type="text/javascript">
                $(document).ready( function () {
                    $('#outputtable').DataTable();
                } );
            </script>
            
            <h4>Download full data table without row limit</h4>
            If the assumed size of full data is less then 100M, just
            <a href='http://ilvdb-ywcai.apps.unc.edu/download/{{result0q}}' target="_blank"> Download Full </a><p>
            If the full data is large, we highly recommend using command line <code>wget</code> followed by downloading URL<p>
            <pre><code class="codeblock" style="white-space: nowrap;">
                wget -O ilvdb_data.csv http://ilvdb-ywcai.apps.unc.edu/download/{{result0q}}
            </code></pre></p>

        </div>
    </div>
    
    <footer class="footer">
        <p>&copy; <a href="mailto:ywcai@email.unc.edu?Subject=ILVDBserver" target="_top">Yanwei</a> at <a href="http://valdarlab.unc.edu/" target='_blank'>Valdarlab</a> Last updated: Nov.17 2016 </p>
        <p> Users may find the auto-refreshing after submit annoying, we have noticed the case and is working to fix it </p>
        
    </footer>
    
</div>

</body>

</html>

