version: 1
formatters:
  simple:
      format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
  detailed:
      format: '%(asctime)s%(name)s:%(levelname)s %(module)s:%(lineno)d:  %(message)s'

handlers:
    console:
        class: logging.StreamHandler
        level: DEBUG
        formatter: simple
        stream: ext://sys.stdout
    log1:
        class: logging.FileHandler
        level: DEBUG
        formatter: detailed
        filename: './python2.log'
loggers:
    mylog:
        level: DEBUG
        handlers: [log1]
        propagate: no

    root:
        level: DEBUG
        handlers: [console]