<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Inbred Strain Variant Database</title>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src={{ url_for('static',filename='js/jquery.dataTables.js') }}></script>

    <link href={{ url_for('static',filename='styles/bootstrap.min.css') }} rel="stylesheet" />
    <link href={{ url_for('static',filename='styles/jumbotron-narrow.css') }} rel="stylesheet" />
    <link href={{ url_for('static',filename='styles/select2.min.css') }} rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    
    <style>
        table { border-collapse: width=100%; }
        th, td { text-align: left; padding: 8px; }
        tr:nth-child(even){background-color: #f2f2f2}
        form {
            display: inline;
        }
    </style>
    
</head>

<body>

<div class="container myleft">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="https://zenodo.org/record/399474#.WMoFChIrJE4" target="_blank">Link to csv data dumps</a>
                </li>
                <li role="presentation" class="active"><a href="/help/" target="_blank">Help</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Inbred Strain Variant Database</h3>
        <h6> ISVdb.v1.1: The current version includes exons and 100bp upstream and downstream. </h6>
        <h6> Version schedule: <p>
            ISVdb.v1.2 (~Apr.2017): Exons +- 1000bp <p>
            ISVdb.v2.0 (~Jul.2017): Inclusion of sequenced de-novo variants.<p>
            ISVdb.v2.1 (~Sep.2017): Integration of latest MUGA genotyping with sequencing. <p>
            ISVdb.v3.0(~Dec.2017): Improved intergration of genotyping with sequencing. Inclusion of whole genome <p>
            ISVdb.v3.1(~Feb.2018): Inclusion of structural variants. <p>
        </h6>
    </div>
    
    <div class="row marketing">
        <div class="col-lg-12">
            
            <form method='POST' id="QueryForm">

            <blockquote style="border: 0px none #666; font-size: 14px;padding: 0px; background-color: #EBF4FA;">
            <font size="4">{{form.view.label}}{{form.view(id="inputview",onchange="conditional2()")}}</font>
            <div id="strain1" style='display:inline'>
                <font size="4">{{form.strainlistnew.label}}</font>
                (click box below to add strains, select none to use all strains) <p>
                {{form.strainlistnew(class="select-multiple",style="width:667px")}}
            </div>
            <div id="strain2" style='display:none'>
                <font size="4">
                {{form.strainp1new.label}}{{form.strainp1new}}
                {{form.strainp2new.label}}{{form.strainp2new}}
                </font>
            </div>
            </p>
            
            <div id="view1" style='display:inline'>
                {{form.selectCollum1.label}}
                {{form.selectCollum1(class="select-multiple",style="width:510px")}}<p>
            </div>
            <div id="view2" style='display:none'>
                {{form.selectCollum2.label}}
                {{form.selectCollum2(class="select-multiple",style="width:510px")}}<p>
            </div>
            <div id="view3" style='display:none'>
                {{form.selectCollum3.label}}
                {{form.selectCollum3(class="select-multiple",style="width:500px")}}<p>
            </div>
            <div id="view4" style='display:none'>
                {{form.selectCollum4.label}}
                {{form.selectCollum4(class="select-multiple",style="width:540px")}}<p>
            </div>
            
            <font size="4">{{form.variantinputtype.label}}{{form.variantinputtype(id="inputtype",onchange="conditional1()")}}</font>
            <div id="input1" style='display:none'>
                {{form.variant_id_text(cols="71", rows="1")}}<p>
            </div>
            <div id="input2" style='display:inline'>
                <font size="4">{{form.chr.label}}{{form.chr}}</font> <font size="4">{{form.strnum.label}}</font>{{form.strnum(style="width:100px")}} <font size="4">{{form.endnum.label}}</font>{{form.endnum(style="width:100px")}}<p>
            </div>
            <div id="input3" style='display:none'>
                <!-- <a href="http://biodb.jp/index.cgi?lang=en&tax=mmu" target="_blank">Gene ID Converter</a> -->{{form.genesearch(cols="71", rows="1")}}<p>
            </div>
            </blockquote>
            
            
            <br />
            
            <blockquote style="border: 0px none #666; font-size: 14px;padding: 0px; background-color: #FFF5EE;">
            <div id="ismax" style='display:inline'>
                <font size="4">{{form.ismax.label}}</font>{{form.ismax}}
            </div>
            
            <font size="4">{{form.prob_cutoff.label}}</font>{{form.prob_cutoff(style="width:60px")}}
            <font size="4">{{form.homo.label}}{{form.homo}}</font>
            <p>
            
            <div id="consequence" style='display:inline'>
                <font size="4">{{form.consequence.label}}</font> (select none to include all consequences)
                {{form.consequence(class="select-multiple",style="width:230px")}}
            </div>
            
            <div id="limum" style='display:none'>
                {{form.limnum.label}}{{form.limnum(style="width:80px")}}
            </div>
            </blockquote>
            
            <p>
            
            <br />
            <button type="submit" style="margin-left:auto;margin-right:auto;"><font size=5>Submit!</font></button>
            <!-- <input type="submit" value="Submit"/> -->
            <font size="4"> Then <B>Download full results</B></font> (no output limit) by pasting this link into your browser:</h5></p>
            <pre><code class="codeblock" style="white-space: nowrap; width:645px">
                http://ilvdb-ywcai.apps.unc.edu/download/{{result0q}}
            </code></pre></p>


            </form>
            
            <B>The first 1000 rows of the result:</B>
            <script type="text/javascript">
                $(".select-multiple").select2();
            </script>

            <script>
                function validateForm()
                {
                    return false;
                }
            </script>

            <script>
                function conditional1() {
                    var x = document.getElementById("inputtype").value;
                    if ( x == 1 ){
                        document.getElementById('input1').style.display = 'inline';
                        document.getElementById('input2').style.display = 'none'  ;
                        document.getElementById('input3').style.display = 'none'  ;
                    }else if ( x == 2 ){
                        document.getElementById('input1').style.display = 'none'  ;
                        document.getElementById('input2').style.display = 'inline';
                        document.getElementById('input3').style.display = 'none'  ;
                    }else{
                        document.getElementById('input1').style.display = 'none'  ;
                        document.getElementById('input2').style.display = 'none'  ;
                        document.getElementById('input3').style.display = 'inline';
                    }
                }
            
                function conditional2() {
                    var x = document.getElementById("inputview").value;
                    if ( x == 1 ){
                        document.getElementById('view1').style.display = 'none';
                        document.getElementById('view2').style.display = 'none'  ;
                        document.getElementById('view3').style.display = 'none'  ;
                        document.getElementById('view4').style.display = 'none'  ;
                        
                        document.getElementById('strain1').style.display = 'inline';
                        document.getElementById('strain2').style.display = 'none';
                        
                        document.getElementById('ismax').style.display = 'inline';
                        document.getElementById('consequence').style.display = 'inline';
                    }else if ( x == 2 ){
                        document.getElementById('view1').style.display = 'none'  ;
                        document.getElementById('view2').style.display = 'none';
                        document.getElementById('view3').style.display = 'none'  ;
                        document.getElementById('view4').style.display = 'none'  ;
                        
                        document.getElementById('strain1').style.display = 'inline';
                        document.getElementById('strain2').style.display = 'none';
                        
                        document.getElementById('ismax').style.display = 'none';
                        document.getElementById('consequence').style.display = 'none';
                    }else if ( x ==3 ){
                        document.getElementById('view1').style.display = 'none'  ;
                        document.getElementById('view2').style.display = 'none'  ;
                        document.getElementById('view3').style.display = 'none';
                        document.getElementById('view4').style.display = 'none'  ;
                        
                        document.getElementById('strain1').style.display = 'none';
                        document.getElementById('strain2').style.display = 'inline';
                        
                        document.getElementById('ismax').style.display = 'none';
                        document.getElementById('consequence').style.display = 'inline';
                    }else{
                        document.getElementById('view1').style.display = 'none';
                        document.getElementById('view2').style.display = 'none';
                        document.getElementById('view3').style.display = 'none';
                        document.getElementById('view4').style.display = 'none';
                        
                        document.getElementById('strain1').style.display = 'none';
                        document.getElementById('strain2').style.display = 'inline';
                        
                        document.getElementById('ismax').style.display = 'none';
                        document.getElementById('consequence').style.display = 'none';
                    }
                }
                conditional1()
                conditional2()
            </script>
            
            
            <table id="outputtable" class="display">
                {% if result_header != None %}
                <thead>
                <tr>{% for t in result_header %}
                    <th>{{ t }}</th>
                    {% endfor %}</tr>
                </thead>
                <tfoot>
                <tr>{% for t in result_header %}
                    <th>{{ t }}</th>
                    {% endfor %}</tr>
                </tfoot>
                {% endif %}
                
                <tbody>
                {% if result_table != None %}
                    {% for t in result_table %}
                        <tr>
                            {% for i in t %}
                            <td>{{ i }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

            <script type="text/javascript">
                $(document).ready( function () {
                    $('#outputtable').DataTable();
                } );
            </script>
            
        </div>
    </div>
    
    <footer class="footer">
        <p>&copy; <a href="mailto:ywcai@email.unc.edu?Subject=ILVDBserver" target="_top">Yanwei</a> at <a href="http://valdarlab.unc.edu/" target='_blank'>Valdarlab</a> Last updated: Mar.15 2017 </p>
        
    </footer>
    
</div>

</body>

</html>

