
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

  <link rel="stylesheet" type="text/css" href="./helppage/documentation.css" title="llarrma" media="screen,projection">

  <title> ILVDB Query and GUI interface </title>

<style type="text/css"></style></head>



<body>

<h1> ILVDB Query and GUI Interface Local Guide  </h1>



<p> Webpage currently under construction </p>



<h2>Description </h2>



<p>   

ILVDB (Inbred Line Variant Database) is a database to store Collaborative Cross variant alleles and allele characteristics. It stores 1）microarray genotyping that provides a probabilistic estimate of the founder haplotype mosaic for each CC line; 2) Inbred line sequencing that provides the variants within each CC founder haplotype; 3) Founder haplotype information per variant position, per CC line; 4) The ancestral subspecies per variant, per CC line etc. In order to help users more effiently get information from ILVDB, this Query and GUI interface is made. In the GUI interface the user only need to define the region they want to query, set constrictions and then they can get the data table or download the data.

</p>



<p> 

	For constructive comments and suggestions email to
    <a href="mailto:ywcai@email.unc.edu" target="_top">Yanwei Cai</a>

</p>



<h2>Contents</h2>

<ol>

	<li><a href="http://ilvdb-ywcai.apps.unc.edu/help.html#updates">Updates</a></li>

	<li><a href="http://ilvdb-ywcai.apps.unc.edu/help.html#installation">Requirements and installation</a></li>

	<li><a href="http://ilvdb-ywcai.apps.unc.edu/help.html#input_files">Input file</a></li>

	<li><a href="http://ilvdb-ywcai.apps.unc.edu/help.html#todo">To do list</a></li>

	<li><a href="http://ilvdb-ywcai.apps.unc.edu/help.html#bibliography">References</a></li>

</ol>



<h2 id="updates">  Updates </h2>

<p>

</p><ul>


	<li> 2016-05-10     Test version of the database that can query Exon database</li>

</ul>

<p></p>


<h2 id="installation">Requirements and Installation</h2>



<h3>Installing Requirement</h3>

<p> The installing of the database requers the follows:
<ol type="1">
    <li> Get connection permission for vpn.unc.edu, Group: RC-Cust</li>
    <li> Get ssh permission for onyen@valdarlab.its.unc.edu</li>
    <li> Get login permission for MySql database at onyen@valdarlab.its.unc.edu</li>
    <li> Install R and Rstudio; install R packages MySQL and Shiny.<p>
        <code>install.packages('RMySQL', type='source')</code><p>
        <code>install.packages('shiny')</code><p>
    </li>
    <li>In Rstudio set the RUN APP options to Run External.
        <img src="/image/run_external.png">
    </li>
    <li> Have a ssh command line tool ready. Examples: Termial for Mac and Putty for windows</li>
    <li> Get the <a href="/code/ilvdb_0.9.0.zip" download>ILVDB_Shiny</a> package code from Valdarlab.</li>
</ol>


<h3>Set up process</h3>
<ol type="1">
    <li> Connect to RC-Cust at vpn.unc.edu. (Rcommended Software: CISCO AnyConnect)</li>
<li> At your commend line tool, run: <p>
    <code>	ssh -nNT -L 3308:localhost:3306 onyen@valdardb.its.unc.edu</code><p>
    Keep the window opened and connected. This commend will forward romote data to your local interface by tunnel 3308-3306</li>
    <img src="/image/ssh_window.png">
<li> Open the code server.r and ui.r from ILVDB_Shiny package in Rstudio, set Rstudio work directory to the directory of the package. </li>
<li> Press run external. You should see a user interface pump out.</li>
</ol>

</p>



<!--
<p>Installation is supported through <code> R CMD INSTALL </code> terminal interface outside of the RGui.

Please attempt to install "R/FReMA" using the directions below, 

  using Unix/Mac Terminal or  Windows Command Prompt through <code>R CMD INSTALL </code> method

  before  contacting <a href="http://valdarlab.unc.edu/contact.html">Valdarlab </a>  with

  issues regarding installation problems for unsupported methods. </p> 
-->


<h2 id="input_files">Input</h2>

<p> To be constructed </p>


<h2 id="command_line">Command line options</h2>

<p> The huge table download function works best on local commend-line style. Here is the step to do this:
<ol type="1">
    <li> Use ILVDB-Shiny GUI to generate the MySQL code, cope the code</li>
    <li> At your commend line tool, run: <p>
        <code>	ssh onyen@valdardb.its.unc.edu "mysql --user='root' --password='${password}' --database='exon_1410b' -e '${MySQL_code}';" > ${local_output_file}</code><p>
        This command will connect to the database and run MySQL query at the remoter server and return to local when it is done. Replace the value of ${} parameters with your target. The command requires a large menmory for big tables.</li>
</ol>




<h2 id="todo">To do list</h2>



<p> Put the tool on a web server</p>

	<ul>

		<li>Database for each Chrom</li>
	</ul>



<h2 id="bibliography">References</h2>

<!--

	<p id="ref_frema">Sabourin J, Nobel A, Valdar W (2015) Fine-Mapping Additive and Dominant SNP effects using group-LASSO and Fractional Resample Model Averaging. <i>Genetic Epidemiology</i> 39(2):77-88 <a href="http://www.ncbi.nlm.nih.gov/pubmed/25417853">PMID:25417853</a>



	</p><p id="ref_llarrma12">Valdar W*, Sabourin J*, Nobel A, Holmes C (2012) Reprioritizing genetic associations in hit regions using LASSO-based resample model averaging. <i>Genetic Epidemiology</i> 36(5):451-462 <a href="http://www.ncbi.nlm.nih.gov/pubmed/22549815">PMID:22549815</a></p>


-->


</body></html>
