<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Inbred Line Variant Database Help</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <style>
        table { border-collapse: width=100%; }
        th, td { text-align: left; padding: 8px; }
        tr:nth-child(even){background-color: #f2f2f2}
    </style>

</head>

<body>

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="http://ilvdb-ywcai.apps.unc.edu/">Query</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Inbred Line Variant Database Help 1.0</h3>
        Here is a brief example on how to use the database:
    </div>
    
    <div class="row marketing">
        <div class="col-lg-12">
            <h4>Examples:</h4>
            <div align="center"><img src={{ url_for('static',filename='helpfigure/ilvdbgui.png') }} height="90%" width="90%"/></div>
            <p><p>
            Example workflow of the ISVDB online GUI. A user has queried the genotype of CC0012, on chromosome 19, from 6054740:6054749. The "Primary Query" panel could have allowed additional strains, and/or specification of the region by genes instead. The user is interested in all zygosity variants, of all consequences, and all probabilities, and thus has applied no secondary restriction. After the user clicked "Submit!", a URL to download the resulting table was generated, as well as an online version of the table. <p>
            The first three rows of the table are shown here: noticeably they all represent the same variant in the same strain. The difference between the rows is highlighted: the genotype per row and its associated probability. Collectively, the three rows represent that there is a 25% probability of a C/C genotype, 25% of T/T, and 50% of T/C at this variant in CC0012. B) The remaining wrapped columns of output from part A (A was too wide). Note that each genotype has a different consequence, accentuating that only accounting for the most likely genotype would cause a non-negligible loss of information.  Also note that this figure--- pieced together from a screen capture--- was sharpened to improve printable resolution.

            <p>
            

        </div>
    </div>
    
    <footer class="footer">
        <p>&copy; <a href="mailto:ywcai@email.unc.edu?Subject=ILVDBserver" target="_top">Yanwei</a> at <a href="http://valdarlab.unc.edu/" target='_blank'>Valdarlab</a> Last updated: Jan.03 2016 </p>
    </footer>
    
</div>

</body>

</html>

