<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>Inbred Line Variant Database Help</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <style>
        table { border-collapse: width=100%; }
        th, td { text-align: left; padding: 8px; }
        tr:nth-child(even){background-color: #f2f2f2}
    </style>

</head>

<body>

<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="http://ilvdb-ywcai.apps.unc.edu/">Query</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Inbred Line Variant Database Help 1.0</h3>
        Here is a brief manual on how to use the database:
    </div>
    
    <div class="row marketing">
        <div class="col-lg-12">
            <h3>Step 1: Specify interested variants</h3>
            <p>The first step is to specify the interested variants. ILVDB provides three ways to do so: by region, by variant_id, or by specific genes. </p><p>
            
            <p> <B>Region</B>: Select Region in the Select-input-type selectfield, specify chromesome and start/end postion of the region, all variants in the region will be collected for further analysis. The reference genome is mm9.</p>
            <div align="center"><img src={{ url_for('static',filename='helpfigure/SelectVariantRegion.png') }} height="90%" width="90%"/></div>
            <p><p>
            <p> <B>Varient_id</B>: Select Varient_id in the Select-input-type selectfield, type interested ilvdb-varient_ids to specify the variants. The GUI also takes a series of ids seperated by comma.</p>
            <div align="center"><img src={{ url_for('static',filename='helpfigure/SelectVariantId.png') }} height="90%" width="90%"/></div>
            <p><p>

           <p> <B>Gene</B>: Select Gene in the Select-input-type selectfield, type interested Gene Ensembl ID to specify the gene, all the variants being annotated will be collected . The GUI also takes a series of Ensembl Ids seperated by comma. The <u>Gene ID Converter</u> link is helpful to convert your gene index to Ensembl Id.</p>
            <div align="center"><img src={{ url_for('static',filename='helpfigure/SelectVariantGene.png') }} height="90%" width="90%"/></div>
            
            
            
            <h3>Step 2: Specify interested view </h3>
            <p>The second step is to specify interested view. In the Select-view-type selectfield, the user can query about genotype, diplotype and the genotype and diplotype of the simulated F1 crosses. Each of these view types includes different output collums, which can be further arranged in the Select-included-fields multiselectfiled. </p>
            <p> For genotype and diplotype tables,the Inbred-Strains multiselectfiled is used to specify interested strains. All 60 CC strains and 8 founders is available.
            </p>
            
            <div align="center"><img src={{ url_for('static',filename='helpfigure/SelectViewGenotype.png') }} height="90%" width="90%"/></div>
            <div align="center"><img src={{ url_for('static',filename='helpfigure/SelectViewDiplotype.png') }} height="90%" width="90%"/></div>
            
            <p> For genotype cross and diplotype cross tables, the user need to specify the two founder strains to simulate F1 crosses. </p>
            
            <div align="center"><img src={{ url_for('static',filename='helpfigure/SelectViewGenotypeCross.png') }} height="90%" width="90%"/></div>
            <div align="center"><img src={{ url_for('static',filename='helpfigure/SelectViewDiplotypeCross.png') }} height="90%" width="90%"/></div>
            <p><p>
        
            <h3>Step 3: Add further conditions</h3>
            <p>Paste the query and search the database.</p>

            <p>
            

        </div>
    </div>
    
    <footer class="footer">
        <p>&copy; <a href="mailto:ywcai@email.unc.edu?Subject=ILVDBserver" target="_top">Yanwei</a> at <a href="http://valdarlab.unc.edu/" target='_blank'>Valdarlab</a> Last updated: Jan.03 2016 </p>
    </footer>
    
</div>

</body>

</html>

